<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net451" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1484.0" targetFramework="net451" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net451" />
</packages>