USE [master]
GO
/****** Object:  Database [ESITERP]    Script Date: 12/11/19 10:23:55 PM ******/
CREATE DATABASE [ESITERP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ESITERP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ESITERP.mdf' , SIZE = 15360KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ESITERP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ESITERP_log.ldf' , SIZE = 6272KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ESITERP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ESITERP]
GO
/****** Object:  User [IIS APPPOOL\DefaultAppPool]    Script Date: 12/11/19 10:23:55 PM ******/
CREATE USER [IIS APPPOOL\DefaultAppPool] FOR LOGIN [IIS APPPOOL\DefaultAppPool] WITH DEFAULT_SCHEMA=[db_accessadmin]
GO
/****** Object:  User [iis]    Script Date: 12/11/19 10:23:55 PM ******/
CREATE USER [iis] FOR LOGIN [iis] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
ALTER ROLE [db_owner] ADD MEMBER [iis]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [iis]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [iis]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [iis]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [iis]
GO
ALTER ROLE [db_datareader] ADD MEMBER [iis]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [iis]
GO
/****** Object:  UserDefinedDataType [dbo].[aaa]    Script Date: 12/11/19 10:23:55 PM ******/
CREATE TYPE [dbo].[aaa] FROM [char](8000) NOT NULL
GO
/****** Object:  Table [dbo].[Account_head]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_head](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Accounts_head_desc] [nvarchar](50) NOT NULL,
	[Accounts_head_shortcode] [nvarchar](50) NOT NULL,
	[from_code_range] [int] NOT NULL,
	[to_code_range] [int] NOT NULL,
 CONSTRAINT [PK_Accounts_type] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Accounts_head_desc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Accounts_head_shortcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[account_transactions]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_transactions](
	[transaction_no] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[transaction_date] [datetime] NOT NULL,
	[ref_doc_no] [int] NOT NULL,
	[description] [nvarchar](50) NOT NULL,
	[cr] [decimal](18, 2) NOT NULL,
	[dr] [decimal](18, 2) NOT NULL,
	[b_entity_id] [int] NOT NULL,
 CONSTRAINT [PK_account_transactions] PRIMARY KEY CLUSTERED 
(
	[transaction_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__account___85C678DDE366B244] UNIQUE NONCLUSTERED 
(
	[transaction_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Account_head_id] [int] NOT NULL,
	[Account_code] [int] NOT NULL,
	[Account_name] [nvarchar](50) NOT NULL,
	[Account_desc] [nvarchar](50) NOT NULL,
	[timestamp] [datetime] NOT NULL DEFAULT (getdate()),
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Account_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Account_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[appmodule]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appmodule](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[module] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_modules] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__modules__44C3FE98FEC09517] UNIQUE NONCLUSTERED 
(
	[module] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[apps]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[apps](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[app_name] [nvarchar](50) NOT NULL CONSTRAINT [DF_apps_app_name]  DEFAULT (''),
	[app_url] [nvarchar](250) NOT NULL CONSTRAINT [DF_apps_app_url]  DEFAULT (''),
	[app_ver] [nvarchar](50) NOT NULL CONSTRAINT [DF_apps_app_ver]  DEFAULT (''),
	[amid] [int] NOT NULL,
	[desktop] [bit] NULL,
	[timestamp] [datetime] NOT NULL CONSTRAINT [DF__apps__timestamp__2F10007B]  DEFAULT (getdate()),
 CONSTRAINT [PK_apps] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[b_entity]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[b_entity](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[server_name] [nvarchar](50) NOT NULL,
	[entity_name] [nvarchar](50) NOT NULL,
	[entity_location] [nvarchar](50) NOT NULL,
	[restaurant_sale_db] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_B_entity] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOM]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOM](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Profile_Name] [nvarchar](90) NOT NULL,
	[fg_id] [int] NOT NULL,
	[fg_Name] [nvarchar](120) NOT NULL,
	[version] [int] NOT NULL CONSTRAINT [DF_BOM_version]  DEFAULT ((1)),
	[isActive] [bit] NOT NULL CONSTRAINT [DF_BOM_isActive]  DEFAULT ((1)),
	[b_entity_id] [int] NOT NULL,
	[uid] [int] NOT NULL,
	[HasWip] [bit] NULL,
	[timestamp] [datetime] NOT NULL CONSTRAINT [DF__BOM__timestamp__690797E6]  DEFAULT (getdate()),
 CONSTRAINT [PK_BOM] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_BOM] UNIQUE NONCLUSTERED 
(
	[Profile_Name] ASC,
	[fg_id] ASC,
	[fg_Name] ASC,
	[version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__BOM__3213E83E716E1D4D] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__BOM__3213E83EA34E2B2F] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOM_det_raw]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOM_det_raw](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bom_id] [int] NOT NULL,
	[iid] [int] NOT NULL,
	[iqty] [decimal](18, 5) NOT NULL CONSTRAINT [DF_BOM_det_iqty]  DEFAULT ((0)),
 CONSTRAINT [PK_BOM_det] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_BOM_det_raw] UNIQUE NONCLUSTERED 
(
	[bom_id] ASC,
	[iid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__BOM_det___3213E83ED6BC137B] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOM_det_WIP]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOM_det_WIP](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bom_id] [int] NOT NULL,
	[WIP_ITEM_ID] [int] NOT NULL,
	[iqty] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_BOM_det_WIP] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_BOM_det_WIP] UNIQUE NONCLUSTERED 
(
	[bom_id] ASC,
	[WIP_ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[departments]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dept_name] [nvarchar](50) NOT NULL,
	[dept_cat_id] [int] NOT NULL,
	[isActive] [bit] NOT NULL DEFAULT ((1)),
	[b_entity_id] [int] NOT NULL,
 CONSTRAINT [PK_departments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[dept_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[dept_cat]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dept_cat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dept_cat] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dept_cat] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[documents_types]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documents_types](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doc_type_desc] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_documents_types] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__document__3213E83E95DA8B5E] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[documents_types_components]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documents_types_components](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doc_type_id] [int] NOT NULL,
	[component_name] [nvarchar](50) NOT NULL,
	[isMandatory] [bit] NOT NULL CONSTRAINT [DF_documents_types_components_isMandatory]  DEFAULT ((1)),
	[hasMany_lineitem] [bit] NOT NULL,
	[baseAccount] [bit] NOT NULL,
	[component_parent_table] [nvarchar](50) NOT NULL,
	[component_child_table] [nvarchar](50) NOT NULL,
	[dr_account_id] [int] NOT NULL,
	[uid] [int] NOT NULL,
 CONSTRAINT [PK_documents_types_components] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__document__3213E83EACA1E438] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FASTFOOD_PURCHASES]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FASTFOOD_PURCHASES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[start_T] [int] NOT NULL,
	[end_T] [int] NOT NULL,
	[transfer_no] [int] NOT NULL CONSTRAINT [DF_FASTFOOD_PURCHASES_transfer_no]  DEFAULT ((0)),
	[prod_date] [datetime] NOT NULL,
	[GroupCode] [nvarchar](100) NOT NULL CONSTRAINT [DF_FASTFOOD_PURCHASES_GroupCode]  DEFAULT (N'-'),
	[MID] [int] NOT NULL CONSTRAINT [DF_FASTFOOD_PURCHASES_MID]  DEFAULT ((0)),
	[MenuItemName] [nvarchar](100) NOT NULL CONSTRAINT [DF_FASTFOOD_PURCHASES_MenuItemName]  DEFAULT ((0)),
	[QTY] [decimal](18, 2) NOT NULL CONSTRAINT [DF_FASTFOOD_PURCHASES_QTY]  DEFAULT ((0)),
	[LINE_AMT] [decimal](18, 2) NOT NULL CONSTRAINT [DF_FASTFOOD_PURCHASES_LINE_AMT]  DEFAULT ((0)),
	[acc_id] [int] NOT NULL,
	[paid_amt] [decimal](18, 2) NOT NULL,
	[b_entity_id] [int] NOT NULL,
	[uid] [int] NOT NULL,
	[timestamp] [datetime] NOT NULL CONSTRAINT [DF_FASTFOOD_PURCHASES_timestamp]  DEFAULT (getdate()),
 CONSTRAINT [PK_FASTFOOD_PURCHASES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__FASTFOOD_PUR__3213E83E40DB081E] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FFMENU]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FFMENU](
	[id] [int] NOT NULL,
	[tag] [nvarchar](100) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_FFMENU] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_FFMENU] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[grn_expense_det]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grn_expense_det](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[grn_no] [int] NOT NULL,
	[expense_desc] [nvarchar](100) NOT NULL,
	[exp_amt] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_grn_expense_det] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__grn_expe__39D8BA941B5B2AFC] UNIQUE NONCLUSTERED 
(
	[grn_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[grn_items_det]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grn_items_det](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[grn_no] [int] NOT NULL,
	[iid] [int] NOT NULL,
	[irate] [decimal](18, 4) NOT NULL,
	[iqty] [decimal](18, 4) NOT NULL,
	[timestamp] [datetime] NOT NULL CONSTRAINT [DF__grn_item___times__116A8EFB]  DEFAULT (getdate()),
 CONSTRAINT [PK_grn_item_det] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__grn_item__3213E83E7720E6D9] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[grn_note]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grn_note](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[grn_no] [int] NOT NULL,
	[supplier_invoice] [nvarchar](50) NOT NULL CONSTRAINT [DF_grn_note_supplier_invoice]  DEFAULT (N'na'),
	[vendor_id] [int] NOT NULL,
	[GRDate] [datetime] NOT NULL,
	[uid] [int] NOT NULL,
	[b_entity_id] [int] NOT NULL,
	[remarks] [nvarchar](100) NULL,
	[isPosted] [int] NOT NULL CONSTRAINT [DF_grn_note_isPosted]  DEFAULT ((0)),
	[timestamp] [datetime] NOT NULL CONSTRAINT [DF__grn_note__timest__63A3C44B]  DEFAULT (getdate()),
 CONSTRAINT [PK_grn_note] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__grn_note__3213E83E7C89F11A] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__grn_note__39D8BA94CB526050] UNIQUE NONCLUSTERED 
(
	[grn_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[group_details]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[group_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[gid] [int] NOT NULL,
	[app_id] [int] NOT NULL,
	[action_id] [int] NOT NULL,
	[b_entity_id] [int] NOT NULL,
 CONSTRAINT [PK_group_details] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_group_details] UNIQUE NONCLUSTERED 
(
	[app_id] ASC,
	[gid] ASC,
	[action_id] ASC,
	[b_entity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__group_de__3213E83ED591BC3C] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[item_mast]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item_mast](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[iname] [nvarchar](100) NOT NULL,
	[idesc] [nvarchar](100) NOT NULL CONSTRAINT [DF__item_mast__idesc__300424B4]  DEFAULT ('NA'),
	[ibarcode] [nvarchar](100) NOT NULL CONSTRAINT [DF__item_mast__ibarc__30F848ED]  DEFAULT ('NA'),
	[main_cat_id] [int] NOT NULL,
	[sub_cat_id] [int] NOT NULL,
	[uom_purchase_id] [int] NOT NULL,
	[uom_consumption_id] [int] NOT NULL,
	[divisible_uop] [decimal](18, 2) NOT NULL CONSTRAINT [DF_item_mast_divisible_uop]  DEFAULT ((1)),
	[uid] [int] NOT NULL,
	[default_wh] [int] NOT NULL,
	[account_id] [int] NOT NULL,
	[timestamp] [datetime] NOT NULL CONSTRAINT [DF__item_mast__times__31EC6D26]  DEFAULT (getdate()),
 CONSTRAINT [PK_item_mast_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__item_mas__135C835E18B8670B] UNIQUE NONCLUSTERED 
(
	[iname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__item_mas__3213E83EF745B391] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ibarcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[main_cat]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[main_cat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[main_cat] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_main_cat] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[main_cat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[main_cat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MATERIAL_CONSUME_BOM]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIAL_CONSUME_BOM](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bom_id] [int] NOT NULL,
	[pdate] [datetime] NOT NULL,
	[FID] [int] NOT NULL,
	[IID] [int] NOT NULL,
	[IID_Consume] [decimal](18, 4) NOT NULL,
	[IID_trate] [decimal](18, 4) NOT NULL,
	[IID_TAMT] [decimal](18, 2) NOT NULL,
	[b_entity_id] [int] NOT NULL,
	[uid] [int] NOT NULL,
	[timestamp] [datetime] NOT NULL CONSTRAINT [DF__MATERIAL___times__381A47C8]  DEFAULT (getdate()),
 CONSTRAINT [PK_MATERIAL_CONSUME_BOM] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__MATERIAL__3213E83EAF580FD6] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[numerator]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[numerator](
	[grn] [int] NOT NULL,
	[store_doc_id] [int] NOT NULL,
	[ven_pay_no] [int] NOT NULL,
	[pinno] [int] NOT NULL,
	[fastfood_data_transfer_no] [int] NOT NULL,
	[restaurant_data_transfer_no] [int] NOT NULL,
	[shop_data_transfer_no] [int] NOT NULL,
	[wip_production_docid] [int] NOT NULL,
	[SALE_TICKETS_FF] [int] NOT NULL,
	[SALE_TICKETS_RES] [int] NOT NULL,
	[SHOP_SALE_TICKETS_FF] [int] NOT NULL,
	[SHOP_SALE_TICKETS_RES] [int] NOT NULL,
	[RESTAURANT_PURCHASE] [int] NOT NULL,
	[FASTFOOD_PURCHASE] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRINT_JOB]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRINT_JOB](
	[id] [int] NOT NULL,
	[pjobname] [nvarchar](50) NOT NULL,
	[template_name] [nvarchar](50) NOT NULL,
	[printer_name] [nvarchar](50) NOT NULL,
	[param1] [int] NOT NULL,
	[isDateWise] [bit] NOT NULL,
	[datefrom] [datetime] NULL,
	[dateto] [datetime] NULL,
	[isDone] [bit] NOT NULL,
	[uid] [int] NOT NULL,
	[b_entity_id] [int] NOT NULL,
 CONSTRAINT [PK_PRINT_JOB] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RESTAURANT_PURCHASES]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESTAURANT_PURCHASES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[start_T] [int] NOT NULL,
	[end_T] [int] NOT NULL,
	[transfer_no] [int] NOT NULL CONSTRAINT [DF_RESTAURANT_PURCHASES_transfer_no]  DEFAULT ((0)),
	[prod_date] [datetime] NOT NULL,
	[GroupCode] [nvarchar](100) NOT NULL CONSTRAINT [DF_RESTAURANT_PURCHASES_GroupCode]  DEFAULT (N'-'),
	[MID] [int] NOT NULL CONSTRAINT [DF_RESTAURANT_PURCHASES_MID]  DEFAULT ((0)),
	[MenuItemName] [nvarchar](100) NOT NULL CONSTRAINT [DF_RESTAURANT_PURCHASES_MenuItemName]  DEFAULT ((0)),
	[QTY] [decimal](18, 2) NOT NULL CONSTRAINT [DF_RESTAURANT_PURCHASES_QTY]  DEFAULT ((0)),
	[LINE_AMT] [decimal](18, 2) NOT NULL CONSTRAINT [DF_RESTAURANT_PURCHASES_LINE_AMT]  DEFAULT ((0)),
	[acc_id] [int] NOT NULL,
	[paid_amt] [decimal](18, 2) NOT NULL,
	[b_entity_id] [int] NOT NULL,
	[uid] [int] NOT NULL,
	[timestamp] [datetime] NOT NULL CONSTRAINT [DF_RESTAURANT_PURCHASES_timestamp]  DEFAULT (getdate()),
 CONSTRAINT [PK_RESTAURANT_PURCHASES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__RESTAURANT_PUR__3213E83E40DB081E] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Semi_Production]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semi_Production](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doc_id] [int] NOT NULL,
	[source_whid] [int] NOT NULL,
	[issue_dept_id] [int] NOT NULL,
	[tdate] [datetime] NOT NULL,
	[iid] [int] NOT NULL,
	[received_qty] [decimal](18, 2) NOT NULL,
	[uid] [int] NOT NULL,
	[remarks] [nvarchar](50) NOT NULL,
	[timestamp] [datetime] NOT NULL DEFAULT (getdate()),
 CONSTRAINT [PK_Semi_Production] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__Semi_Pro__3213E83E9CEE8DCF] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__Semi_Pro__8AD029259201F342] UNIQUE NONCLUSTERED 
(
	[doc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[semi_production_details]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[semi_production_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doc_id] [int] NOT NULL,
	[sp_item] [int] NOT NULL,
	[produce_qty] [decimal](18, 2) NOT NULL,
	[consume_qty] [decimal](18, 2) NOT NULL,
	[Issue_produce_qty] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_semi_production_details] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__semi_pro__3213E83E73D8152A] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SHOP_PURCHASES]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOP_PURCHASES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[start_T] [int] NOT NULL,
	[end_T] [int] NOT NULL,
	[transfer_no] [int] NOT NULL CONSTRAINT [DF_SHOP_PURCHASES_transfer_no]  DEFAULT ((0)),
	[prod_date] [datetime] NOT NULL,
	[GroupCode] [nvarchar](100) NOT NULL CONSTRAINT [DF_SHOP_PURCHASES_GroupCode]  DEFAULT (N'-'),
	[MID] [int] NOT NULL CONSTRAINT [DF_SHOP_PURCHASES_MID]  DEFAULT ((0)),
	[MenuItemName] [nvarchar](100) NOT NULL CONSTRAINT [DF_SHOP_PURCHASES_MenuItemName]  DEFAULT ((0)),
	[QTY] [decimal](18, 2) NOT NULL CONSTRAINT [DF_SHOP_PURCHASES_QTY]  DEFAULT ((0)),
	[LINE_AMT] [decimal](18, 2) NOT NULL CONSTRAINT [DF_SHOP_PURCHASES_LINE_AMT]  DEFAULT ((0)),
	[acc_id] [int] NOT NULL,
	[paid_amt] [decimal](18, 2) NOT NULL,
	[b_entity_id] [int] NOT NULL,
	[uid] [int] NOT NULL,
	[timestamp] [datetime] NOT NULL CONSTRAINT [DF_SHOP_PURCHASES_timestamp]  DEFAULT (getdate()),
 CONSTRAINT [PK_SHOP_PURCHASES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__SHOP_PUR__3213E83E40DB081E] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[store]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[store](
	[doc_id] [int] NOT NULL,
	[ref_doc_no] [int] NOT NULL,
	[doc_type_id] [int] NOT NULL,
	[doc_date] [datetime] NOT NULL,
	[uid] [int] NOT NULL,
	[remarks] [nvarchar](50) NOT NULL,
	[b_entity_id] [int] NOT NULL,
	[timestamp] [datetime] NOT NULL CONSTRAINT [DF_store_timestamp]  DEFAULT (getdate()),
 CONSTRAINT [PK_store_1] PRIMARY KEY CLUSTERED 
(
	[doc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[store_det]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[store_det](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doc_id] [int] NOT NULL,
	[iid] [int] NOT NULL,
	[increase_qty] [decimal](18, 4) NOT NULL,
	[decrease_qty] [decimal](18, 4) NOT NULL,
	[whid] [int] NOT NULL,
 CONSTRAINT [PK_store_det] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__store_de__3213E83E0CCB6F81] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sub_cat]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sub_cat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sub_cat] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_sub_cat] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[sub_cat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[sub_cat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRANSFER_SALE]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSFER_SALE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pdate] [datetime] NOT NULL CONSTRAINT [DF_TRANSFER_SALE_pdate_1]  DEFAULT (((2019)-(10))-(1)),
	[TicketTags] [nvarchar](max) NOT NULL CONSTRAINT [DF__TRANSFER___Ticke__405A880E]  DEFAULT ('0'),
	[Start] [int] NOT NULL,
	[End] [int] NOT NULL,
	[MID] [int] NOT NULL,
	[MenuItemName] [nvarchar](100) NOT NULL,
	[GroupCode] [nvarchar](100) NOT NULL,
	[QTY] [decimal](18, 2) NOT NULL,
	[LINE_AMT] [decimal](18, 2) NOT NULL,
	[b_entity_id] [int] NOT NULL,
	[uid] [int] NOT NULL,
	[isConsume] [bit] NOT NULL CONSTRAINT [DF_TRANSFER_SALE_isConsume]  DEFAULT ((0)),
	[timestamp] [datetime] NOT NULL CONSTRAINT [DF__TRANSFER___times__278EDA44]  DEFAULT (getdate()),
 CONSTRAINT [PK_TRANSFER_SALE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__TRANSFER__3213E83EBC4CE61D] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UOM]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UOM](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UOM] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UOM] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[user_groups]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_groups](
	[id] [int] NOT NULL,
	[group_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_users_group] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[users]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userid] [nvarchar](50) NOT NULL,
	[user_pass] [nvarchar](50) NOT NULL,
	[gid] [int] NOT NULL,
	[isActive] [bit] NOT NULL CONSTRAINT [DF_users_user_status]  DEFAULT ((1)),
	[isAdmin] [bit] NOT NULL CONSTRAINT [DF_users_isAdmin]  DEFAULT ((0)),
	[timestamp] [datetime] NOT NULL CONSTRAINT [DF__users__timestamp__34C8D9D1]  DEFAULT (getdate()),
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__users__CBA1B256CECD6434] UNIQUE NONCLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[users_action]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users_action](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[action] [nvarchar](6) NOT NULL CONSTRAINT [DF_user_actions_action]  DEFAULT ('0'),
 CONSTRAINT [PK_user_actions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[vendor_master]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vendor_master](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[VendorName] [nvarchar](50) NOT NULL,
	[Contact_Person_name] [nvarchar](50) NOT NULL,
	[Contact_Person_Phone] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[goods_desc] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_vendor_master] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__vendor_m__3213E83EA505E158] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__vendor_m__7320A35704A3AFF7] UNIQUE NONCLUSTERED 
(
	[VendorName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[vendor_payment_doc]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vendor_payment_doc](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vpno] [int] NOT NULL,
	[vendor_id] [int] NOT NULL,
	[vDate] [datetime] NOT NULL,
	[cr_acc_id] [int] NOT NULL,
	[dr_amount] [decimal](18, 2) NOT NULL,
	[uid] [int] NOT NULL,
	[b_entity_id] [int] NOT NULL,
	[remarks] [nvarchar](100) NOT NULL CONSTRAINT [DF_vendor_payment_doc_remarks]  DEFAULT (''),
	[isPosted] [int] NOT NULL CONSTRAINT [DF__vendor_pa__isPos__7EC1CEDB]  DEFAULT ((0)),
	[timestamp] [datetime] NOT NULL CONSTRAINT [DF__vendor_pa__times__7FB5F314]  DEFAULT (getdate()),
 CONSTRAINT [UQ__vendor_p__7126403B0047957C] UNIQUE NONCLUSTERED 
(
	[vpno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[vendor_transactions]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vendor_transactions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ven_id] [int] NOT NULL,
	[ttype] [nvarchar](20) NOT NULL,
	[tdate] [datetime] NOT NULL CONSTRAINT [DF__vendor_tr__tdate__57FD0775]  DEFAULT (getdate()),
	[ref_doc_no] [int] NOT NULL,
	[dr] [decimal](18, 2) NOT NULL CONSTRAINT [DF__vendor_trans__dr__58F12BAE]  DEFAULT ((0)),
	[cr] [decimal](18, 2) NOT NULL CONSTRAINT [DF__vendor_trans__cr__59E54FE7]  DEFAULT ((0)),
	[remarks] [nvarchar](100) NOT NULL CONSTRAINT [DF__vendor_tr__remar__5AD97420]  DEFAULT ('-'),
	[b_entity_id] [int] NOT NULL,
	[uid] [int] NOT NULL,
	[timestamp] [datetime] NOT NULL CONSTRAINT [DF__vendor_tr__times__5BCD9859]  DEFAULT (getdate()),
 CONSTRAINT [PK_vendor_transactions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_vendor_transactions] UNIQUE NONCLUSTERED 
(
	[ref_doc_no] ASC,
	[ttype] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__vendor_t__3213E83E1A5F5E07] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[warehouse]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[warehouse](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[wh_name] [nvarchar](50) NOT NULL,
	[wh_desc] [nvarchar](50) NOT NULL,
	[type_id] [int] NOT NULL,
	[location_id] [int] NOT NULL,
	[cat_id] [int] NOT NULL,
	[isActive] [bit] NOT NULL CONSTRAINT [DF_1warehouse_isActive]  DEFAULT ((1)),
	[uid] [int] NOT NULL,
	[b_entity_id] [int] NOT NULL,
	[timestamp] [datetime] NOT NULL CONSTRAINT [DF_1warehouse_timestamp]  DEFAULT (getdate()),
 CONSTRAINT [UQ__warehous__3213E83EE08EA4F1] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[wh_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[wh_cat]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wh_cat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cat_desc] [nvarchar](40) NOT NULL CONSTRAINT [DF_wh_cat_cat_desc]  DEFAULT (''),
 CONSTRAINT [PK_wh_cat] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__wh_cat__206A16A6E964DF5A] UNIQUE NONCLUSTERED 
(
	[cat_desc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[wh_location]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wh_location](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[location] [nvarchar](50) NOT NULL CONSTRAINT [DF_wh_location_location]  DEFAULT (''),
	[b_entity_id] [int] NOT NULL,
 CONSTRAINT [PK_wh_location] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_wh_location] UNIQUE NONCLUSTERED 
(
	[b_entity_id] ASC,
	[location] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[wh_type]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wh_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [nvarchar](30) NOT NULL CONSTRAINT [DF_warehouse_type_type]  DEFAULT (''),
 CONSTRAINT [PK_wh_type] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[wip_item]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wip_item](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[wip_item_name] [nvarchar](50) NOT NULL,
	[iid] [int] NOT NULL,
	[UOM_ID] [int] NOT NULL,
	[b_entity_id] [int] NULL,
	[issue_able] [bit] NULL,
 CONSTRAINT [PK_wip_item] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[wip_item_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[wip_item_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WIP_MATERIAL_CONSUME_BOM]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WIP_MATERIAL_CONSUME_BOM](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bom_id] [int] NOT NULL,
	[pdate] [datetime] NOT NULL,
	[FID] [int] NOT NULL,
	[WIP_ID] [int] NOT NULL,
	[WIP_ID_Consume] [decimal](18, 2) NOT NULL,
	[WIP_IID_trate] [decimal](18, 2) NOT NULL,
	[WIP_ID_TAMT] [decimal](18, 2) NOT NULL,
	[b_entity_id] [int] NOT NULL,
	[uid] [int] NOT NULL,
	[timestamp] [datetime] NOT NULL DEFAULT (getdate())
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[wip_production]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wip_production](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doc_id] [int] NOT NULL,
	[source_whid] [int] NOT NULL,
	[issue_dept_id] [int] NOT NULL,
	[iid] [int] NOT NULL,
	[tdate] [datetime] NOT NULL,
	[wip_item_id] [int] NOT NULL,
	[wip_produce_qty] [decimal](18, 2) NOT NULL,
	[iid_consume_qty] [decimal](18, 2) NOT NULL,
	[wip_produce_issue] [decimal](18, 2) NOT NULL CONSTRAINT [DF_wip_production_wip_produce_issue]  DEFAULT ((0)),
	[iid_consume_issue] [decimal](18, 2) NOT NULL CONSTRAINT [DF_wip_production_iid_consume_issue]  DEFAULT ((0)),
	[uid] [int] NOT NULL,
	[b_entity_id] [int] NOT NULL,
	[remarks] [nvarchar](50) NOT NULL,
	[timestamp] [datetime] NOT NULL CONSTRAINT [DF__wip_produ__times__54CB950F]  DEFAULT (getdate()),
 CONSTRAINT [PK_wip_production] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__wip_prod__8AD0292509F7FACE] UNIQUE NONCLUSTERED 
(
	[doc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[GRN_REPORT]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GRN_REPORT]
AS
SELECT        TOP (100) PERCENT GR.grn_no AS [GR No], GR.GRDate AS [Purchase Date], VI.VendorName AS [Vender Name], GR.supplier_invoice AS [Supplier Invoice], GRD.irate AS [Item Rate], GRD.iqty AS [Item Qty], 
                         GRD.irate * GRD.iqty AS [Line Amount], GRD.iid, GR.b_entity_id
FROM            dbo.grn_note AS GR INNER JOIN
                         dbo.grn_items_det AS GRD ON GRD.grn_no = GR.grn_no INNER JOIN
                         dbo.vendor_master AS VI ON VI.id = GR.vendor_id
WHERE        (GR.isPosted = 1)
ORDER BY [GR No], [Purchase Date]

GO
/****** Object:  View [dbo].[VENDOR_PAYSLIP]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VENDOR_PAYSLIP]
AS
SELECT        VPD.vpno AS tno, VM.id AS VID, VM.VendorName AS VNAME, VPD.cr_acc_id AS ACC_ID, AC.Account_name AS ACCNAME, VPD.vDate AS T_Date, VT.ttype AS TTYPE, VT.dr AS DR, VPD.remarks AS REMARKS, 
                         BI.entity_name AS BUNIT, USR.userid AS UNAME
FROM            dbo.vendor_payment_doc AS VPD INNER JOIN
                         dbo.vendor_transactions AS VT ON VT.ref_doc_no = VPD.vpno INNER JOIN
                         dbo.Accounts AS AC ON AC.id = VPD.cr_acc_id INNER JOIN
                         dbo.vendor_master AS VM ON VM.id = VPD.vendor_id INNER JOIN
                         dbo.b_entity AS BI ON BI.id = VPD.b_entity_id INNER JOIN
                         dbo.users AS USR ON USR.id = VPD.uid
WHERE        (VT.ttype = 'VENPAYMENT')

GO
/****** Object:  View [dbo].[WIP_PRODUCTION_PCSCONS_REPORT]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[WIP_PRODUCTION_PCSCONS_REPORT]
AS
SELECT        IM.iname AS [Item Name], WIPID.wip_item_name AS [WIP ITEM], WIPP.tdate AS Date, WIPP.wip_produce_qty AS [Produce Quantity], WIPP.iid_consume_qty AS Consumption,
                             (SELECT        TOP (1) dbo.grn_items_det.irate
                               FROM            dbo.grn_items_det INNER JOIN
                                                         dbo.grn_note ON dbo.grn_items_det.grn_no = dbo.grn_note.grn_no
                               WHERE        (dbo.grn_items_det.iid = WIPP.iid) AND (WIPP.tdate = dbo.grn_note.GRDate)) AS [Day Rate],
                             (SELECT        TOP (1) grn_items_det_2.irate
                               FROM            dbo.grn_items_det AS grn_items_det_2 INNER JOIN
                                                         dbo.grn_note AS grn_note_2 ON grn_items_det_2.grn_no = grn_note_2.grn_no
                               WHERE        (grn_items_det_2.iid = WIPP.iid) AND (WIPP.tdate = grn_note_2.GRDate)) * WIPP.iid_consume_qty AS AMT, CAST(WIPP.iid_consume_qty / NULLIF (WIPP.wip_produce_qty, 0) AS decimal(18, 3)) 
                         AS [Pcs Per Consumption],
                             (SELECT        TOP (1) grn_items_det_1.iqty
                               FROM            dbo.grn_items_det AS grn_items_det_1 INNER JOIN
                                                         dbo.grn_note AS grn_note_1 ON grn_items_det_1.grn_no = grn_note_1.grn_no
                               WHERE        (grn_items_det_1.iid = WIPP.iid) AND (WIPP.tdate = grn_note_1.GRDate)) AS [Day Purchase], WIPP.remarks, WIPP.b_entity_id AS bid, WIPP.iid, WIPP.wip_item_id AS [WIP IID], 
                         WIPP.issue_dept_id AS [Issue Dept]
FROM            dbo.wip_production AS WIPP INNER JOIN
                         dbo.item_mast AS IM ON IM.id = WIPP.iid INNER JOIN
                         dbo.wip_item AS WIPID ON WIPP.wip_item_id = WIPID.id INNER JOIN
                         dbo.warehouse AS WH ON WH.id = WIPP.source_whid INNER JOIN
                         dbo.departments AS DEP ON DEP.id = WIPP.issue_dept_id

GO
/****** Object:  View [dbo].[WIP_PRODUCTION_REPORT]    Script Date: 12/11/19 10:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[WIP_PRODUCTION_REPORT]
AS
SELECT        IM.iname AS [Item Name], WIPID.wip_item_name AS [WIP ITEM], WIPP.tdate AS Date, WIPP.wip_produce_qty AS [Produce Quantity], WIPP.iid_consume_qty AS Consumption,
                             (SELECT        TOP (1) dbo.grn_items_det.irate
                               FROM            dbo.grn_items_det INNER JOIN
                                                         dbo.grn_note ON dbo.grn_items_det.grn_no = dbo.grn_note.grn_no
                               WHERE        (dbo.grn_items_det.iid = WIPP.iid) AND (WIPP.tdate = dbo.grn_note.GRDate)) AS [Day Rate],
                             (SELECT        TOP (1) grn_items_det_2.irate
                               FROM            dbo.grn_items_det AS grn_items_det_2 INNER JOIN
                                                         dbo.grn_note AS grn_note_2 ON grn_items_det_2.grn_no = grn_note_2.grn_no
                               WHERE        (grn_items_det_2.iid = WIPP.iid) AND (WIPP.tdate = grn_note_2.GRDate)) * WIPP.iid_consume_qty AS AMT,
                             (SELECT        TOP (1) grn_items_det_1.iqty
                               FROM            dbo.grn_items_det AS grn_items_det_1 INNER JOIN
                                                         dbo.grn_note AS grn_note_1 ON grn_items_det_1.grn_no = grn_note_1.grn_no
                               WHERE        (grn_items_det_1.iid = WIPP.iid) AND (WIPP.tdate = grn_note_1.GRDate)) AS [Day Purchase], WIPP.remarks, WIPP.b_entity_id AS bid, WIPP.iid, WIPP.wip_item_id AS [WIP IID], 
                         WIPP.issue_dept_id AS [Issue Dept]
FROM            dbo.wip_production AS WIPP INNER JOIN
                         dbo.item_mast AS IM ON IM.id = WIPP.iid INNER JOIN
                         dbo.wip_item AS WIPID ON WIPP.wip_item_id = WIPID.id INNER JOIN
                         dbo.warehouse AS WH ON WH.id = WIPP.source_whid INNER JOIN
                         dbo.departments AS DEP ON DEP.id = WIPP.issue_dept_id

GO
ALTER TABLE [dbo].[account_transactions]  WITH CHECK ADD  CONSTRAINT [FK_account_transactions_Accounts_accid] FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[account_transactions] CHECK CONSTRAINT [FK_account_transactions_Accounts_accid]
GO
ALTER TABLE [dbo].[account_transactions]  WITH CHECK ADD  CONSTRAINT [FK_account_transactions_b_entity] FOREIGN KEY([b_entity_id])
REFERENCES [dbo].[b_entity] ([id])
GO
ALTER TABLE [dbo].[account_transactions] CHECK CONSTRAINT [FK_account_transactions_b_entity]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_account_head_headid] FOREIGN KEY([Account_head_id])
REFERENCES [dbo].[Account_head] ([id])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_account_head_headid]
GO
ALTER TABLE [dbo].[apps]  WITH CHECK ADD  CONSTRAINT [FK_apps_modules_mid] FOREIGN KEY([amid])
REFERENCES [dbo].[appmodule] ([id])
GO
ALTER TABLE [dbo].[apps] CHECK CONSTRAINT [FK_apps_modules_mid]
GO
ALTER TABLE [dbo].[BOM]  WITH CHECK ADD  CONSTRAINT [FK_BOM_B_entity_bentity_id] FOREIGN KEY([b_entity_id])
REFERENCES [dbo].[b_entity] ([id])
GO
ALTER TABLE [dbo].[BOM] CHECK CONSTRAINT [FK_BOM_B_entity_bentity_id]
GO
ALTER TABLE [dbo].[BOM]  WITH CHECK ADD  CONSTRAINT [FK_BOM_FFMENU_FGID] FOREIGN KEY([fg_id])
REFERENCES [dbo].[FFMENU] ([id])
GO
ALTER TABLE [dbo].[BOM] CHECK CONSTRAINT [FK_BOM_FFMENU_FGID]
GO
ALTER TABLE [dbo].[BOM]  WITH CHECK ADD  CONSTRAINT [FK_BOM_users_UID] FOREIGN KEY([uid])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[BOM] CHECK CONSTRAINT [FK_BOM_users_UID]
GO
ALTER TABLE [dbo].[BOM_det_raw]  WITH CHECK ADD  CONSTRAINT [FK_BOM_det_BOM_bomid] FOREIGN KEY([bom_id])
REFERENCES [dbo].[BOM] ([id])
GO
ALTER TABLE [dbo].[BOM_det_raw] CHECK CONSTRAINT [FK_BOM_det_BOM_bomid]
GO
ALTER TABLE [dbo].[BOM_det_raw]  WITH CHECK ADD  CONSTRAINT [FK_BOM_det_item_mast_iid] FOREIGN KEY([iid])
REFERENCES [dbo].[item_mast] ([id])
GO
ALTER TABLE [dbo].[BOM_det_raw] CHECK CONSTRAINT [FK_BOM_det_item_mast_iid]
GO
ALTER TABLE [dbo].[BOM_det_WIP]  WITH CHECK ADD  CONSTRAINT [FK_BOM_det_WIP_BOM_BOMID] FOREIGN KEY([bom_id])
REFERENCES [dbo].[BOM] ([id])
GO
ALTER TABLE [dbo].[BOM_det_WIP] CHECK CONSTRAINT [FK_BOM_det_WIP_BOM_BOMID]
GO
ALTER TABLE [dbo].[BOM_det_WIP]  WITH CHECK ADD  CONSTRAINT [FK_BOM_det_WIP_wip_item_wipid] FOREIGN KEY([WIP_ITEM_ID])
REFERENCES [dbo].[wip_item] ([id])
GO
ALTER TABLE [dbo].[BOM_det_WIP] CHECK CONSTRAINT [FK_BOM_det_WIP_wip_item_wipid]
GO
ALTER TABLE [dbo].[departments]  WITH CHECK ADD  CONSTRAINT [FK_departments_B_entity_bentityid] FOREIGN KEY([b_entity_id])
REFERENCES [dbo].[b_entity] ([id])
GO
ALTER TABLE [dbo].[departments] CHECK CONSTRAINT [FK_departments_B_entity_bentityid]
GO
ALTER TABLE [dbo].[departments]  WITH CHECK ADD  CONSTRAINT [FK_departments_dept_cat_catid] FOREIGN KEY([dept_cat_id])
REFERENCES [dbo].[dept_cat] ([id])
GO
ALTER TABLE [dbo].[departments] CHECK CONSTRAINT [FK_departments_dept_cat_catid]
GO
ALTER TABLE [dbo].[documents_types_components]  WITH CHECK ADD  CONSTRAINT [FK_documents_types_components_Accounts_draccid] FOREIGN KEY([dr_account_id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[documents_types_components] CHECK CONSTRAINT [FK_documents_types_components_Accounts_draccid]
GO
ALTER TABLE [dbo].[documents_types_components]  WITH CHECK ADD  CONSTRAINT [FK_documents_types_components_documents_types_doctypeid] FOREIGN KEY([doc_type_id])
REFERENCES [dbo].[documents_types] ([id])
GO
ALTER TABLE [dbo].[documents_types_components] CHECK CONSTRAINT [FK_documents_types_components_documents_types_doctypeid]
GO
ALTER TABLE [dbo].[documents_types_components]  WITH CHECK ADD  CONSTRAINT [FK_documents_types_components_users_uid] FOREIGN KEY([uid])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[documents_types_components] CHECK CONSTRAINT [FK_documents_types_components_users_uid]
GO
ALTER TABLE [dbo].[FASTFOOD_PURCHASES]  WITH CHECK ADD  CONSTRAINT [FK_FASTFOOD_PURCHASES_Accounts_ACCID] FOREIGN KEY([acc_id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[FASTFOOD_PURCHASES] CHECK CONSTRAINT [FK_FASTFOOD_PURCHASES_Accounts_ACCID]
GO
ALTER TABLE [dbo].[FASTFOOD_PURCHASES]  WITH CHECK ADD  CONSTRAINT [FK_FASTFOOD_PURCHASES_b_entity_id] FOREIGN KEY([b_entity_id])
REFERENCES [dbo].[b_entity] ([id])
GO
ALTER TABLE [dbo].[FASTFOOD_PURCHASES] CHECK CONSTRAINT [FK_FASTFOOD_PURCHASES_b_entity_id]
GO
ALTER TABLE [dbo].[FASTFOOD_PURCHASES]  WITH CHECK ADD  CONSTRAINT [FK_FASTFOOD_PURCHASES_users_uid] FOREIGN KEY([uid])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[FASTFOOD_PURCHASES] CHECK CONSTRAINT [FK_FASTFOOD_PURCHASES_users_uid]
GO
ALTER TABLE [dbo].[grn_expense_det]  WITH CHECK ADD  CONSTRAINT [FK_grn_expense_det_grn_note_grnno] FOREIGN KEY([grn_no])
REFERENCES [dbo].[grn_note] ([grn_no])
GO
ALTER TABLE [dbo].[grn_expense_det] CHECK CONSTRAINT [FK_grn_expense_det_grn_note_grnno]
GO
ALTER TABLE [dbo].[grn_items_det]  WITH CHECK ADD  CONSTRAINT [FK_grn_items_det_grn_note_grnno] FOREIGN KEY([grn_no])
REFERENCES [dbo].[grn_note] ([grn_no])
GO
ALTER TABLE [dbo].[grn_items_det] CHECK CONSTRAINT [FK_grn_items_det_grn_note_grnno]
GO
ALTER TABLE [dbo].[grn_items_det]  WITH CHECK ADD  CONSTRAINT [FK_grn_items_det_item_mast_iid] FOREIGN KEY([iid])
REFERENCES [dbo].[item_mast] ([id])
GO
ALTER TABLE [dbo].[grn_items_det] CHECK CONSTRAINT [FK_grn_items_det_item_mast_iid]
GO
ALTER TABLE [dbo].[grn_note]  WITH CHECK ADD  CONSTRAINT [FK_grn_note_b_entity_bentity_id] FOREIGN KEY([b_entity_id])
REFERENCES [dbo].[b_entity] ([id])
GO
ALTER TABLE [dbo].[grn_note] CHECK CONSTRAINT [FK_grn_note_b_entity_bentity_id]
GO
ALTER TABLE [dbo].[grn_note]  WITH CHECK ADD  CONSTRAINT [FK_grn_note_users_uid] FOREIGN KEY([uid])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[grn_note] CHECK CONSTRAINT [FK_grn_note_users_uid]
GO
ALTER TABLE [dbo].[grn_note]  WITH CHECK ADD  CONSTRAINT [FK_grn_note_vendor_master_vendorid] FOREIGN KEY([vendor_id])
REFERENCES [dbo].[vendor_master] ([id])
GO
ALTER TABLE [dbo].[grn_note] CHECK CONSTRAINT [FK_grn_note_vendor_master_vendorid]
GO
ALTER TABLE [dbo].[group_details]  WITH CHECK ADD  CONSTRAINT [FK_group_details_apps] FOREIGN KEY([app_id])
REFERENCES [dbo].[apps] ([id])
GO
ALTER TABLE [dbo].[group_details] CHECK CONSTRAINT [FK_group_details_apps]
GO
ALTER TABLE [dbo].[group_details]  WITH CHECK ADD  CONSTRAINT [FK_group_details_b_entity_bentityid] FOREIGN KEY([b_entity_id])
REFERENCES [dbo].[b_entity] ([id])
GO
ALTER TABLE [dbo].[group_details] CHECK CONSTRAINT [FK_group_details_b_entity_bentityid]
GO
ALTER TABLE [dbo].[group_details]  WITH CHECK ADD  CONSTRAINT [FK_group_details_user_groups_gid] FOREIGN KEY([gid])
REFERENCES [dbo].[user_groups] ([id])
GO
ALTER TABLE [dbo].[group_details] CHECK CONSTRAINT [FK_group_details_user_groups_gid]
GO
ALTER TABLE [dbo].[group_details]  WITH CHECK ADD  CONSTRAINT [FK_group_details_users_action_actionid] FOREIGN KEY([action_id])
REFERENCES [dbo].[users_action] ([ID])
GO
ALTER TABLE [dbo].[group_details] CHECK CONSTRAINT [FK_group_details_users_action_actionid]
GO
ALTER TABLE [dbo].[item_mast]  WITH CHECK ADD  CONSTRAINT [FK_item_mast_Accounts_accid] FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[item_mast] CHECK CONSTRAINT [FK_item_mast_Accounts_accid]
GO
ALTER TABLE [dbo].[item_mast]  WITH CHECK ADD  CONSTRAINT [FK_item_mast_main_cat_maincatid] FOREIGN KEY([main_cat_id])
REFERENCES [dbo].[main_cat] ([id])
GO
ALTER TABLE [dbo].[item_mast] CHECK CONSTRAINT [FK_item_mast_main_cat_maincatid]
GO
ALTER TABLE [dbo].[item_mast]  WITH CHECK ADD  CONSTRAINT [FK_item_mast_sub_cat_subcatid] FOREIGN KEY([sub_cat_id])
REFERENCES [dbo].[sub_cat] ([id])
GO
ALTER TABLE [dbo].[item_mast] CHECK CONSTRAINT [FK_item_mast_sub_cat_subcatid]
GO
ALTER TABLE [dbo].[item_mast]  WITH CHECK ADD  CONSTRAINT [FK_item_mast_UOM_consumption] FOREIGN KEY([uom_consumption_id])
REFERENCES [dbo].[UOM] ([id])
GO
ALTER TABLE [dbo].[item_mast] CHECK CONSTRAINT [FK_item_mast_UOM_consumption]
GO
ALTER TABLE [dbo].[item_mast]  WITH CHECK ADD  CONSTRAINT [FK_item_mast_UOM_purchasing] FOREIGN KEY([uom_purchase_id])
REFERENCES [dbo].[UOM] ([id])
GO
ALTER TABLE [dbo].[item_mast] CHECK CONSTRAINT [FK_item_mast_UOM_purchasing]
GO
ALTER TABLE [dbo].[item_mast]  WITH CHECK ADD  CONSTRAINT [FK_item_mast_users_uid] FOREIGN KEY([uid])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[item_mast] CHECK CONSTRAINT [FK_item_mast_users_uid]
GO
ALTER TABLE [dbo].[item_mast]  WITH CHECK ADD  CONSTRAINT [FK_item_mast_warehouse_defaultwhid] FOREIGN KEY([default_wh])
REFERENCES [dbo].[warehouse] ([id])
GO
ALTER TABLE [dbo].[item_mast] CHECK CONSTRAINT [FK_item_mast_warehouse_defaultwhid]
GO
ALTER TABLE [dbo].[RESTAURANT_PURCHASES]  WITH CHECK ADD  CONSTRAINT [FK_RESTAURANT_PURCHASES_Accounts_ACCID] FOREIGN KEY([acc_id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[RESTAURANT_PURCHASES] CHECK CONSTRAINT [FK_RESTAURANT_PURCHASES_Accounts_ACCID]
GO
ALTER TABLE [dbo].[RESTAURANT_PURCHASES]  WITH CHECK ADD  CONSTRAINT [FK_RESTAURANT_PURCHASES_b_entity_id] FOREIGN KEY([b_entity_id])
REFERENCES [dbo].[b_entity] ([id])
GO
ALTER TABLE [dbo].[RESTAURANT_PURCHASES] CHECK CONSTRAINT [FK_RESTAURANT_PURCHASES_b_entity_id]
GO
ALTER TABLE [dbo].[RESTAURANT_PURCHASES]  WITH CHECK ADD  CONSTRAINT [FK_RESTAURANT_PURCHASES_users_uid] FOREIGN KEY([uid])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[RESTAURANT_PURCHASES] CHECK CONSTRAINT [FK_RESTAURANT_PURCHASES_users_uid]
GO
ALTER TABLE [dbo].[SHOP_PURCHASES]  WITH CHECK ADD  CONSTRAINT [FK_SHOP_PURCHASES_Accounts_ACCID] FOREIGN KEY([acc_id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[SHOP_PURCHASES] CHECK CONSTRAINT [FK_SHOP_PURCHASES_Accounts_ACCID]
GO
ALTER TABLE [dbo].[SHOP_PURCHASES]  WITH CHECK ADD  CONSTRAINT [FK_SHOP_PURCHASES_b_entity_id] FOREIGN KEY([b_entity_id])
REFERENCES [dbo].[b_entity] ([id])
GO
ALTER TABLE [dbo].[SHOP_PURCHASES] CHECK CONSTRAINT [FK_SHOP_PURCHASES_b_entity_id]
GO
ALTER TABLE [dbo].[SHOP_PURCHASES]  WITH CHECK ADD  CONSTRAINT [FK_SHOP_PURCHASES_users_uid] FOREIGN KEY([uid])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[SHOP_PURCHASES] CHECK CONSTRAINT [FK_SHOP_PURCHASES_users_uid]
GO
ALTER TABLE [dbo].[store]  WITH CHECK ADD  CONSTRAINT [FK_store_B_entity_bentity_id] FOREIGN KEY([b_entity_id])
REFERENCES [dbo].[b_entity] ([id])
GO
ALTER TABLE [dbo].[store] CHECK CONSTRAINT [FK_store_B_entity_bentity_id]
GO
ALTER TABLE [dbo].[store]  WITH CHECK ADD  CONSTRAINT [FK_store_documents_types_doctypeid] FOREIGN KEY([doc_type_id])
REFERENCES [dbo].[documents_types] ([id])
GO
ALTER TABLE [dbo].[store] CHECK CONSTRAINT [FK_store_documents_types_doctypeid]
GO
ALTER TABLE [dbo].[store]  WITH CHECK ADD  CONSTRAINT [FK_store_users_uid] FOREIGN KEY([uid])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[store] CHECK CONSTRAINT [FK_store_users_uid]
GO
ALTER TABLE [dbo].[store_det]  WITH CHECK ADD  CONSTRAINT [FK_store_det_item_mast_iid] FOREIGN KEY([iid])
REFERENCES [dbo].[item_mast] ([id])
GO
ALTER TABLE [dbo].[store_det] CHECK CONSTRAINT [FK_store_det_item_mast_iid]
GO
ALTER TABLE [dbo].[store_det]  WITH CHECK ADD  CONSTRAINT [FK_store_det_store_docid] FOREIGN KEY([doc_id])
REFERENCES [dbo].[store] ([doc_id])
GO
ALTER TABLE [dbo].[store_det] CHECK CONSTRAINT [FK_store_det_store_docid]
GO
ALTER TABLE [dbo].[store_det]  WITH CHECK ADD  CONSTRAINT [FK_store_det_warehouse_destinationid] FOREIGN KEY([whid])
REFERENCES [dbo].[warehouse] ([id])
GO
ALTER TABLE [dbo].[store_det] CHECK CONSTRAINT [FK_store_det_warehouse_destinationid]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_user_groups_gid] FOREIGN KEY([gid])
REFERENCES [dbo].[user_groups] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_user_groups_gid]
GO
ALTER TABLE [dbo].[vendor_payment_doc]  WITH CHECK ADD  CONSTRAINT [FK_vendor_payment_doc_Accounts_accid] FOREIGN KEY([cr_acc_id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[vendor_payment_doc] CHECK CONSTRAINT [FK_vendor_payment_doc_Accounts_accid]
GO
ALTER TABLE [dbo].[vendor_payment_doc]  WITH CHECK ADD  CONSTRAINT [FK_vendor_payment_doc_b_entity_bid] FOREIGN KEY([b_entity_id])
REFERENCES [dbo].[b_entity] ([id])
GO
ALTER TABLE [dbo].[vendor_payment_doc] CHECK CONSTRAINT [FK_vendor_payment_doc_b_entity_bid]
GO
ALTER TABLE [dbo].[vendor_payment_doc]  WITH CHECK ADD  CONSTRAINT [FK_vendor_payment_doc_users_uid] FOREIGN KEY([uid])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[vendor_payment_doc] CHECK CONSTRAINT [FK_vendor_payment_doc_users_uid]
GO
ALTER TABLE [dbo].[vendor_payment_doc]  WITH CHECK ADD  CONSTRAINT [FK_vendor_payment_doc_vendor_master_vid] FOREIGN KEY([vendor_id])
REFERENCES [dbo].[vendor_master] ([id])
GO
ALTER TABLE [dbo].[vendor_payment_doc] CHECK CONSTRAINT [FK_vendor_payment_doc_vendor_master_vid]
GO
ALTER TABLE [dbo].[vendor_transactions]  WITH CHECK ADD  CONSTRAINT [FK_vendor_transactions_b_entity_bentity] FOREIGN KEY([b_entity_id])
REFERENCES [dbo].[b_entity] ([id])
GO
ALTER TABLE [dbo].[vendor_transactions] CHECK CONSTRAINT [FK_vendor_transactions_b_entity_bentity]
GO
ALTER TABLE [dbo].[vendor_transactions]  WITH CHECK ADD  CONSTRAINT [FK_vendor_transactions_users_uid] FOREIGN KEY([uid])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[vendor_transactions] CHECK CONSTRAINT [FK_vendor_transactions_users_uid]
GO
ALTER TABLE [dbo].[vendor_transactions]  WITH CHECK ADD  CONSTRAINT [FK_vendor_transactions_vendor_master_venid] FOREIGN KEY([ven_id])
REFERENCES [dbo].[vendor_master] ([id])
GO
ALTER TABLE [dbo].[vendor_transactions] CHECK CONSTRAINT [FK_vendor_transactions_vendor_master_venid]
GO
ALTER TABLE [dbo].[warehouse]  WITH CHECK ADD  CONSTRAINT [FK_warehouse_B_entity_b_entity_id] FOREIGN KEY([b_entity_id])
REFERENCES [dbo].[b_entity] ([id])
GO
ALTER TABLE [dbo].[warehouse] CHECK CONSTRAINT [FK_warehouse_B_entity_b_entity_id]
GO
ALTER TABLE [dbo].[warehouse]  WITH CHECK ADD  CONSTRAINT [FK_warehouse_users_userid] FOREIGN KEY([uid])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[warehouse] CHECK CONSTRAINT [FK_warehouse_users_userid]
GO
ALTER TABLE [dbo].[warehouse]  WITH CHECK ADD  CONSTRAINT [FK_warehouse_wh_cat_catid] FOREIGN KEY([cat_id])
REFERENCES [dbo].[wh_cat] ([id])
GO
ALTER TABLE [dbo].[warehouse] CHECK CONSTRAINT [FK_warehouse_wh_cat_catid]
GO
ALTER TABLE [dbo].[warehouse]  WITH CHECK ADD  CONSTRAINT [FK_warehouse_wh_location_locationid] FOREIGN KEY([location_id])
REFERENCES [dbo].[wh_location] ([id])
GO
ALTER TABLE [dbo].[warehouse] CHECK CONSTRAINT [FK_warehouse_wh_location_locationid]
GO
ALTER TABLE [dbo].[warehouse]  WITH CHECK ADD  CONSTRAINT [FK_warehouse_wh_type_typeid] FOREIGN KEY([type_id])
REFERENCES [dbo].[wh_type] ([id])
GO
ALTER TABLE [dbo].[warehouse] CHECK CONSTRAINT [FK_warehouse_wh_type_typeid]
GO
ALTER TABLE [dbo].[wh_location]  WITH CHECK ADD  CONSTRAINT [FK_wh_location_B_entity_bentity_id] FOREIGN KEY([b_entity_id])
REFERENCES [dbo].[b_entity] ([id])
GO
ALTER TABLE [dbo].[wh_location] CHECK CONSTRAINT [FK_wh_location_B_entity_bentity_id]
GO
ALTER TABLE [dbo].[wip_item]  WITH CHECK ADD  CONSTRAINT [FK_wip_item_item_mast_IID] FOREIGN KEY([iid])
REFERENCES [dbo].[item_mast] ([id])
GO
ALTER TABLE [dbo].[wip_item] CHECK CONSTRAINT [FK_wip_item_item_mast_IID]
GO
ALTER TABLE [dbo].[wip_item]  WITH CHECK ADD  CONSTRAINT [FK_wip_item_UOM_UOMID] FOREIGN KEY([UOM_ID])
REFERENCES [dbo].[UOM] ([id])
GO
ALTER TABLE [dbo].[wip_item] CHECK CONSTRAINT [FK_wip_item_UOM_UOMID]
GO
ALTER TABLE [dbo].[wip_production]  WITH CHECK ADD  CONSTRAINT [FK_wip_production_b_entity_BID] FOREIGN KEY([b_entity_id])
REFERENCES [dbo].[b_entity] ([id])
GO
ALTER TABLE [dbo].[wip_production] CHECK CONSTRAINT [FK_wip_production_b_entity_BID]
GO
ALTER TABLE [dbo].[wip_production]  WITH CHECK ADD  CONSTRAINT [FK_wip_production_departments_DEPTID] FOREIGN KEY([issue_dept_id])
REFERENCES [dbo].[departments] ([id])
GO
ALTER TABLE [dbo].[wip_production] CHECK CONSTRAINT [FK_wip_production_departments_DEPTID]
GO
ALTER TABLE [dbo].[wip_production]  WITH CHECK ADD  CONSTRAINT [FK_wip_production_item_mast_IID] FOREIGN KEY([iid])
REFERENCES [dbo].[item_mast] ([id])
GO
ALTER TABLE [dbo].[wip_production] CHECK CONSTRAINT [FK_wip_production_item_mast_IID]
GO
ALTER TABLE [dbo].[wip_production]  WITH CHECK ADD  CONSTRAINT [FK_wip_production_users_UID] FOREIGN KEY([uid])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[wip_production] CHECK CONSTRAINT [FK_wip_production_users_UID]
GO
ALTER TABLE [dbo].[wip_production]  WITH CHECK ADD  CONSTRAINT [FK_wip_production_warehouse_WHID] FOREIGN KEY([source_whid])
REFERENCES [dbo].[warehouse] ([id])
GO
ALTER TABLE [dbo].[wip_production] CHECK CONSTRAINT [FK_wip_production_warehouse_WHID]
GO
ALTER TABLE [dbo].[wip_production]  WITH CHECK ADD  CONSTRAINT [FK_wip_production_wip_item_WIPIID] FOREIGN KEY([wip_item_id])
REFERENCES [dbo].[wip_item] ([id])
GO
ALTER TABLE [dbo].[wip_production] CHECK CONSTRAINT [FK_wip_production_wip_item_WIPIID]
GO
EXEC sys.sp_addextendedproperty @name=N'a', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TYPE',@level1name=N'aaa'
GO
EXEC sys.sp_addextendedproperty @name=N'b', @value=N'2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TYPE',@level1name=N'aaa'
GO
EXEC sys.sp_addextendedproperty @name=N'c', @value=N'3' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TYPE',@level1name=N'aaa'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'REFERENCE DOCUMENT NUMBER AND TRANSACTION TYPE CANT BE SAME SYSTEM MUST STOP' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'vendor_transactions', @level2type=N'CONSTRAINT',@level2name=N'IX_vendor_transactions'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "GR"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 212
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "GRD"
            Begin Extent = 
               Top = 6
               Left = 250
               Bottom = 136
               Right = 420
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "VI"
            Begin Extent = 
               Top = 6
               Left = 458
               Bottom = 136
               Right = 669
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'GRN_REPORT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'GRN_REPORT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "VPD"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 7
         End
         Begin Table = "VT"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "AC"
            Begin Extent = 
               Top = 6
               Left = 454
               Bottom = 136
               Right = 634
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "VM"
            Begin Extent = 
               Top = 6
               Left = 672
               Bottom = 136
               Right = 883
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "BI"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 268
               Right = 224
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "USR"
            Begin Extent = 
               Top = 138
               Left = 262
               Bottom = 268
               Right = 432
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 11
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Widt' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VENDOR_PAYSLIP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'h = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VENDOR_PAYSLIP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VENDOR_PAYSLIP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "WIPP"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 217
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "IM"
            Begin Extent = 
               Top = 6
               Left = 255
               Bottom = 136
               Right = 460
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "WIPID"
            Begin Extent = 
               Top = 6
               Left = 498
               Bottom = 136
               Right = 670
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "WH"
            Begin Extent = 
               Top = 6
               Left = 708
               Bottom = 136
               Right = 878
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "DEP"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 268
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
E' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'WIP_PRODUCTION_PCSCONS_REPORT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'nd
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'WIP_PRODUCTION_PCSCONS_REPORT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'WIP_PRODUCTION_PCSCONS_REPORT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[46] 4[15] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "WIPP"
            Begin Extent = 
               Top = 11
               Left = 254
               Bottom = 141
               Right = 433
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "IM"
            Begin Extent = 
               Top = 149
               Left = 971
               Bottom = 279
               Right = 1176
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "WIPID"
            Begin Extent = 
               Top = 181
               Left = 438
               Bottom = 311
               Right = 610
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "WH"
            Begin Extent = 
               Top = 8
               Left = 838
               Bottom = 138
               Right = 1008
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "DEP"
            Begin Extent = 
               Top = 30
               Left = 18
               Bottom = 160
               Right = 188
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
 ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'WIP_PRODUCTION_REPORT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'        Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'WIP_PRODUCTION_REPORT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'WIP_PRODUCTION_REPORT'
GO
USE [master]
GO
