@import url('https://fonts.googleapis.com/css?family=Lato:200,300');
@font-face {
  font-family:"Lato";
  src: url("Lato-Hairline.ttf") format("truetype");
  src: url("Lato-Bold.ttf") format("truetype");
  src: url("Lato-Regular.ttf") format("truetype");
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
     border-top-left-radius: 3px !important; 
     border-bottom-left-radius: 3px !important; 
}
*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:300
}

a{
    color:black;
    text-decoration:none !important;
}
a:hover{
    color:black;
    /*text-shadow:0px 0px 1px white;*/
    text-decoration:none;
}
a:focus{
     color:black !important;
    /*text-shadow:0px 0px 1px white;*/
    text-decoration:none;
}
a:visited{
    color:black;
    /*text-shadow:0px 0px 1px white;*/
    text-decoration:none;
}
.rblist{
    padding:20px;
    border:solid 1px lightgray;
}
.lato{
    font-family:Lato !important;
}
.myinput{
    padding:5px;
}
.padding-5{
    padding:5px;
    
}
body{
    margin:0;
    padding:0;
}
.headering-lettersp{
    letter-spacing: 9.5px;

    text-transform:uppercase;
}
.red-active{
    color:#a94442;
}
table.table{
    border-radius:20px !important;
    border:0 !important
}
table.table{
    color:white !important;
}
table.table tr{
    color:black !important;
}
.table-bordered tr:first-child{
    background:#a94442;
    border-top-left-radius:10px;
}
.breadcrumb{
    /*background:#dadada;*/
}
@media(max-width:456px){
    *{
        font-weight:500;
    }
    .headering-lettersp{
    letter-spacing: 7px;
    text-transform:uppercase;
}
h1,h2,h3,h4,h5,h6{
    font-weight:100;
    font-size:16px;
}
}
.marginpaddingzero{
    margin:0 !important;
    padding:0 !important;
}
h1,h2,h3,h4,h5,h6{
    font-weight:100;
}
.main-heading{
  color:black;margin-left:10px;padding:0px;font-family:Lato-Hairline;
}
.top-header{
    background-color:whitesmoke;
    margin:0px;
    padding:0px;
}

.rblist input, label{
                padding:0px;
                clear:both;
                float:left;
            }
            .rblist label{
                clear:right;

            }
/*---------------------------------LOGIN PAGE--*/
.login-box{

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff3019+22,8e0205+98 */
background: rgb(255,48,25); /* Old browsers */
background: -moz-linear-gradient(top,  rgb(255,48,25) 22%, rgb(142,2,5) 98%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgb(255,48,25) 22%,rgb(142,2,5) 98%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgb(255,48,25) 22%,rgb(142,2,5) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#8e0205',GradientType=0 ); /* IE6-9 */

}
.logo{padding:20px;}
.main-logo-text{padding-top:30px;font-size:30px;padding-left:4px !important;}
.main-text-slogan{padding-top:10px !important;color:white;font-size:15px;font-weight:800;letter-spacing: 4px;}
.pwrdby{font-size:12px;background:#d6d6d6;padding:5px;max-width:320px;margin:10px auto}
@media(max-width:456px) {
    .main-logo-text{padding-top:30px;font-size:14px;}
    .main-text-slogan{color:white;font-size:12px;font-weight:800;letter-spacing: 4px;}
    .pwrdby{font-size:12px;background:#d6d6d6;padding:5px;max-width:320px;margin:10px auto}
}

.login-form{
    max-width:400px;
    margin:0 auto;
    padding:10px;

}
.login-form input{
    max-width:400px;
    margin:7px 0;
    padding:10px;
    text-shadow:none;
    box-shadow:none;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #ffffff;
    background-image: none;
    border: 2px solid #a94442;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.login-btn{
    padding: 8px 20px;
}
.footerdesign{
    margin-top: 30px;
    padding: 10px;
    border-top: 1px solid #a94442;
    font-size:11px;

}
.img-responsive{
    display: inline; 
    max-width: 100%;
    height: auto;
}
.logo-img{
    max-width:200px;
}
.btn-danger, {
    color: #fff;
    background-color: #a94442;
    border-color: #a94442;
}
/*---------------------------------LOGIN PAGE END--*/

input[type=radio]{
    width:20px !important;
}